<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.waterfairy.tool"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <!-- <category android:name="android.intent.category.HOME" /> -->


                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".bluetooth.ble.BLEConnectActivity"
            android:label="@string/ble_connect" />

        <service android:name=".bluetooth.ble.BLEService" />

        <activity
            android:name=".bluetooth.btnormal.BTConnectActivity"
            android:label="@string/bt_normal_connect" />
        <activity
            android:name=".bluetooth.BTSearchActivity"
            android:label="@string/bt_search" />
        <activity
            android:name=".activity.DensityActivity"
            android:label="@string/density_info" />
        <activity
            android:name=".activity.CalcActivity"
            android:label="@string/calc" />
        <activity
            android:name=".bluetooth.btnormal.BTServerActivity"
            android:label="@string/bt_server" />
        <activity
            android:name=".bluetooth.BTToolActivity"
            android:label="@string/bluetooth" />
        <activity android:name=".date.DateActivity" />
        <activity android:name=".date.Long2DateActivity" />
        <activity android:name=".date.Str2Activity" />
        <activity
            android:name=".qr.QRActivity"
            android:label="@string/qr" />
        <activity
            android:name=".qr.CreateHealthQRActivity"
            android:label="@string/health_qr" />
        <activity android:name=".qr.QRListActivity" />
        <activity android:name=".activity.SmaliActivity" />

        <!-- <receiver android:name="com.waterfairy.tool.broadcast.StartUpBroadcast"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity android:name=".update.UpdateActivity" />
        <activity android:name=".omron.OmronActivity" />
        <activity android:name=".exception.ExceptionTestActivity" />
        <activity android:name=".net.NetActivity" />
        <activity android:name=".net.ImageActivity" />
        <activity android:name=".activity.TextActivity" />
        <activity android:name=".activity.PrintActivity" />
        <activity android:name=".activity.ToolActivity" />
        <activity android:name=".music.MusicActivity" />
        <activity android:name=".xml.XMLActivity"></activity>
    </application>

</manifest>